* {
    margin: 0px;
    padding: 0px;
    font-family: 'Stylish', sans-serif;
}

header {
    top: 0px;
    left: 0px;
    position: sticky;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #ffeedd;
}

nav li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 50px;
    padding: 5px 10px;
}

nav li:hover {
    background-color: #ffcc99;
}

nav a:hover {
    color: #ff6600;
}

nav a {
    text-decoration: none;
    color: #440088;
}

main {
    display: flex;
    justify-content: center;
    background: linear-gradient(-30deg, #ffcccc, #ffffcc, #ccffff, #cc99ff);
}

#contdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
}

#timetable {
    margin-left: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    height: fit-content;
}

td {
    width: 20%;
    text-align: center;
    padding: 4px 5px;
}

.day {
    padding-top: 6px;
    padding-bottom: 4px;
    border-top: 1px solid #9900ff;
}

.name {
    color: #660033;
}

.class {
    color: #880044;
}

article {
    margin-top: 12px;
    margin-bottom: 8px;
    width: 480px;
    display: flex;
    border-radius: 20px;
    padding: 10px;
}

a:link {
    color: #9900ff;
}

a:hover {
    color: #cc33ff;
}

a:active {
    color: #6600ff;
}

a:visited {
    color: #440088;
}

.study {
    background-color: #ffeeff;
}

h1 {
    display: flex;
    align-items: center;
    padding: 6px 9px;
    font-size: x-large;
}

ul {
    margin: 5px 30px;
    font-size: large
}

article>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile {
    display: flex;
    justify-content: center;
    height: 160px;
    align-items: center;
    padding: 8px;
}

#info {
    background-color: #ffffee;
}

#imagediv {
    margin-right: 40px;
    border: 2px dashed #ffccee;
    border-radius: 80px;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#profile img {
    width: 100%;
    border-radius: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    align-items: center;
    background-color: #cc33ff;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
        background-color: #ddbbff;
    }

    40% {
        background-color: #bbddff;
    }

    75% {
        background-color: #bbffdd;
    }

    100% {
        background-color: #ddbbff;
    }
}

#diamond {
    color: #00ccff;
    margin-top: 12px;
    border-radius: 6px 6px 15px 15px;
    background-color: rgba(204, 221, 255, 63);
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        border: 3px solid #ccffff;
    }

    50% {
        border: 3px dashed #ffffcc;
    }

    100% {
        border: 3px dashed #ccffff;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        height: fit-content;
    }

    nav li {
        height: 30px;
        font-size: medium;
    }

    main {
        padding-top: 4px;
    }

    #profile {
        margin: 0px;
        flex-direction: column;
        height: fit-content;
    }

    #imagediv {
        margin: 8px 0px 15px;
    }

    article {
        flex-direction: column;
        width: 80%;
        padding: 4px 2px 12px 6px;
        margin: 8px 0px;
    }

    h1 {
        padding: 6px 8px;
    }

    #timetable {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #timetable {
        padding-top: 0px;
        padding-bottom: 24px;
        margin-left: 0px;
    }
}