* {
    margin: 0px;
    padding: 0px;
    font-family: 'Stylish', sans-serif;
}

header {
    top: 0px;
    left: 0px;
    position: sticky;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #ffeedd;
}

nav li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 60px;
    padding: 5px 8px;
}

nav li:hover {
    background-color: #ffcc99;
}

nav a:hover {
    color: #ff6600;
}

nav a {
    text-decoration: none;
    color: #440088;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    background-color: #dfffff;
    margin-top: 12px;
    padding-left: 8px;
    margin-bottom: 8px;
    min-width: 500px;
    display: flex;
}

#info {
    background-color: #ffffee;
}

.study {
    background-color: #ffeeff;
    min-width: 500px;
    width: fit-content;
}

h1 {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 32px;
}

ul {
    margin: 5px 30px;
    font-size: large
}

article>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile {
    display: flex;
    justify-content: center;
    height: 180px;
    align-items: center;
    padding: 8px;
}

#imagediv {
    margin-right: 50px;
    border: 2px dashed #ffccee;
    border-radius: 80px;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#profile img {
    width: 100%;
    border-radius: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}