.c3>h1 {
    background-color: #ffccee;
    color: #440088
}

article {
    background-color: #eeffff;
}

#info,
#license {
    background-color: #ffffee;
}

.c3 {
    background-color: #ddffee;
}

.c2 li

/* .c2 > ul > li  */
    {
    color: #880044;
}